img.cover
{
    height: 150px;
    width: 150px;
    border:1px solid rgb(231,241,187);
    margin: 20px auto;
}

img.cover:hover
{
    border:1px solid rgb(249,194,111);
}

.book
{
    text-align: left;
    border: 1px solid #999999;
    padding: 10px;
    margin: 20px auto;
    background-color: #a9c6c9;
}

.book td
{
    padding: 2px;
}

.comment
{
    border: 1px solid #a9c6c9;
    width: 600px;
    padding: 5px;
    text-align: left;
    background-color: #d4e3e5;
}

.ccontent
{
    min-height: 30px;
    text-indent: 20px;
}

.cfooter
{
    height: 20px;
    border-top: 1px solid #a9c6c9;
}

.cfooter >div
{
    float: right;
    width: 150px;
}

.cfooter >div.account
{
    width: 80px;
}

.cfooter >a
{
    float: left;
    font-size: 12px;
    color: red;
    margin-top: 5px;
    margin-left: 5px;
}

.add_cmt
{
    margin-top: 20px;
    width: 600px;
    text-align: left;
}

.cmt_input
{
    width: 600px;
    height: 100px;
    border-color: #999999;
}

.add_cmt .button
{
    float: right;
    margin-top: 5px;
    margin-bottom: 20px;
}